* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.task {
  background-color: aquamarine;
  border-radius: 1rem;
  padding: 0.8rem;
  margin: 0.6rem;
}

.inline-box {
  display: flex;
  margin: 0.3rem;
}

.filter-div {
  display: inline-flex;
}

.filter-div button {
  margin: 0.3rem;
}
